This is a paragraph

This will be *Bold*

# Data Types

## Numbers & Artimetic

In [1]:
4 + 4

8

In [2]:
type(4)

int

In [3]:
type(5.4)

float

In [4]:
type(True)

bool

In [7]:
5 / 2

2.5

In [5]:
x = 5
x

5

In [6]:
y = 2
y

2

In [8]:
x / y

2.5

## Strings

In [9]:
"Hello, World"

'Hello, World'

In [10]:
print('Hello, world')

Hello, world

In [11]:
text = "Hello, world"

In [12]:
type(text)

str

In [13]:
text[0]

'H'

In [14]:
text[1]

'e'

In [15]:
text[-1]

'd'

In [16]:
text[:5]

'Hello'

In [17]:
text[5:]

', world'

In [18]:
text[6:]

' world'

In [19]:
text[7:]

'world'

## Lists

In [20]:
l1 = [1,2,3,4,5]
l1

[1, 2, 3, 4, 5]

In [21]:
type(l1)

list

In [22]:
l1[0]

1

In [23]:
l1[-1]

5

In [24]:
l1[2:]

[3, 4, 5]

In [25]:
l1[-2:]

[4, 5]

In [26]:
l2 = [6, 7, 8, 9, 10]
l2

[6, 7, 8, 9, 10]

In [27]:
l1 + l2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
l1 * l2

TypeError: can't multiply sequence by non-int of type 'list'

# Loops

In [30]:
l2

[6, 7, 8, 9, 10]

In [33]:
for x in l2:
    print(x)

6
7
8
9
10

In [34]:
for i in l2:
    print(i * 2)

12
14
16
18
20

In [35]:
for i in reversed(l2):
    print(i)

10
9
8
7
6

In [36]:
for i, k in enumerate(l2):
    print(i, k)

0 6
1 7
2 8
3 9
4 10

## Dictionary

In [37]:
dct = {'name': 'Adam', 'age': 14, 'gender': 'M'}
dct

{'name': 'Adam', 'age': 14, 'gender': 'M'}

In [38]:
dct.keys()

dict_keys(['name', 'age', 'gender'])

In [39]:
dct.values()

dict_values(['Adam', 14, 'M'])

In [40]:
dct["name"]

'Adam'

In [41]:
dct["age"]

14

In [42]:
dct = {'name': ["Mohamed", "Sarah", "Lee", "Anna"],
       'age': [14, 22, 8, 43] ,
       'gender': ["M", "F", "M", "F"]}

In [43]:
dct

{'name': ['Mohamed', 'Sarah', 'Lee', 'Anna'],
 'age': [14, 22, 8, 43],
 'gender': ['M', 'F', 'M', 'F']}

In [44]:
dct["name"]

['Mohamed', 'Sarah', 'Lee', 'Anna']

In [45]:
dct["name"][0]

'Mohamed'

In [46]:
dct["name"][3]

'Anna'

# Conditional Statement

In [47]:
x = 5
y = 7

if x > y:
    print(f"{x} is greater than {y}")
elif x < y:
    print(f"{x} is less than {y}")
else:
    print(f"{x} and {y} are the same")

5 is less than 7

In [48]:
x = 4
y = 1

In [49]:
if x > y:
    print(f"{x} is greater than {y}")
elif x < y:
    print(f"{x} is less than {y}")
else:
    print(f"{x} and {y} are the same")

4 is greater than 1

# Functions

In [50]:
def greater_or_less(x, y):
    if x > y:
        print(f"{x} is greater than {y}")
    elif x < y:
        print(f"{x} is less than {y}")
    else:
        print(f"{x} and {y} are the same")

In [51]:
greater_or_less(x, y)

4 is greater than 1

In [52]:
x = 10
y = 20
greater_or_less(x, y)

10 is less than 20

In [53]:
x = 1
y = 1

greater_or_less(x, y)

1 and 1 are the same